parameters:
    level: 1
    paths:
        - core
        - modules
        - index.php
        - config.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Variable \$_db might not be defined#'
        - '#Variable \$_config might not be defined#'
        - '#Variable \$_error might not be defined#'
        - '#Constant [A-Z0-9_]+ not found#'
